*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;    
}

nav{
	background-color: #00B2EE;
	height: 100%;
	width: 200px;
	display: block;
	float: left;
}

main {
	background-color: #79CDCD;
	margin-left: 200px;
}

ul > li {
	list-style: none;
	background-color: #F8F8FF;
	line-height: 48px;
	text-align: center;
	margin-bottom: 2px;
}

ul > li > a {
	text-decoration: none;
}

.banner{
	background-color: lightblue;
	height: 700px;
	
}

.box {
	border: 5px solid #fff;
	text-align: center;
	width: 40%;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.column {
	border: 5px solid black;
	width: 31%;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 10px;
	float: left;
	padding: 10px;
}

img[alt*="Services"] {
	border: 1px solid #fff;
	width: 60px;
	height: 60px;
	display: block;
	float: left;
	margin: 10px;
}

img[alt*="Services"] ~ p {
	overflow: hidden;
}

img[alt*="Services"] ~ h3 {
	margin-bottom: 10px;
}

.about {
	background-color: #104E8B;
	min-height: 300px;
	color: white;
}

.services {
	background-color: #1E90FF;
	min-height: 300px;
}

.clear:after {
content: "";
display: block;
clear: both;
}

.projects {
	background-color: #7FFFD4;
	min-height: 400px;
}

.gallery {
	background-color: #483D8B;
	min-height: 500px;
	margin-bottom: 10px;
	color: white;
}

.gallery > .column {
	width: 23%;
	margin: 0 1%;


}

img[alt*="gallery"] {
	display: block;
	border: 1px solid black;
	width: 100%;
	height: 100px;
}

}

footer {
	background-color: #8A2BE2;
	min-height: 50px;
}

nav, 
.banner,
.about,
.services,
.projects,
.gallery,
footer {
	padding: 30px;
}

.logo {
	width: 140px;
	height: 140px;
	margin-bottom: 10px;
	background-color: grey;
	margin: 0 auto;
}

footer {
	margin-left: 200px;
	min-height: 50px;
}

img[alt*="Social"] {
	width: 20px;
	height: 20px;
	border: 1px solid black;
	display: block;
	float: left;
	margin-right: 10px;
}

div.contact {
	float: right;
}

div.logo {
	margin-bottom: 30px;
}

/* mobile*/
@media  only screen and (max-width: 400px) {
	
	nav {
		background-color: #00B2EE;
		height: 50%;
		width: 100%;
		float: none;
		position: fixed;
		display: block;
		clear: both;
	}

	nav li {
		width: 100%;
		margin: 0 auto;
		float: left;
		display: block;
	}

	main {
	background-color: #79CDCD;
	margin: 0;
	}

	.banner	{
		/*position: relative;*/
		display: block;
		width: 100%;
		margin: 0 auto;
		padding: 5px;
	}

	ul > li {
	line-height: 24px;
	text-align: center;
	margin-bottom: 2px;
	text-align: center;
	}


}
/* tablet */
@media only screen and (min-width: 401px) and 
(max-width: 960px) {


}

/* laptop,desktop */

@media only screen and (min-width: 961px) {

	
}